.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #293264;
}

.general-btn {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    margin: 20px;
    border: none;
    color: #f5f7fb;
    background-color: #4d5b9e;
    cursor: pointer;
}
