* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f7fb;
}

main {
    height: 70%;
}

.home {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #293264;
}

.home h1, p{
    font-family: 'Karla', sans-serif;
}

.home h1 {
    font-size: 31px;
    margin-bottom: 7px;
    text-align: center;
}

.home p {
    margin-bottom: 40px;
    font-weight: 400;
    font-style: italic;
}

.error {
    color: red;
}

.loader{
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    main{
        height: 65%;
    }

    .home{
        width: 50%;
    }

    .home h1 {
        font-size: 40px;
    }

    .home p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    main{
        height: 90%;
    }

    .home h1 {
        font-size: 50px;
    }

    .home p {
        font-size: 25px;
    }
}
